.above_body{margin-top:64px;}

#header-strip{
  background-color:#eee;
  position:fixed;
  top: 0%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
	z-index: 1000;
	margin: 0;
	padding: 0;
	transition: 0.3s;
	border-bottom: 2px solid #ddd;
}

#header-strip .btn{
	padding: 7px 10px !important;
	margin:0 !important;
	font-size:0.8em !important;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	text-transform: capitalize;
	font-weight: 700;
	line-height: 1.25em;
	text-decoration: none;
}
@media only screen and (max-width: 640px) {
	#header-strip .btn, #header-strip input[type=submit].btn, #header-strip button.btn {
		padding: 7px 10px !important;
		margin:0 !important;
		font-size:0.75em !important;
	}

}

@media only screen and (max-width: 320px) {
	#header-strip .btn, #header-strip input[type=submit].btn, #header-strip button.btn {
		padding: 7px 10px !important;
		margin:0 !important;
		font-size:0.75em !important;
	}
}

#header-strip .btn-action{
	background-color: #006699;
	color: white;
}

#header-strip .btn-action:hover{
text-decoration:none;
background-color:#333;
}


#header-strip .btn-default{
	background-color: #999;
	color: white;
}

#header-strip .btn-default:hover{
text-decoration:none;
background-color:#333;
}

#header-strip .btn-trans{
	background-color: transparent;
	color: black !important;
}

#header-strip .btn-dark{
	background-color: #111;
	color: white;
}

#header-strip .btn-dark:hover{
text-decoration:none;
background-color:#333;
}

#header-strip noscript{
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	line-height: 1em;
	font-weight: bold;
	color:#ff0000;
	display: block;
	width: 100%;
	text-align: center;
}

#header-wrap {
	max-width: 1150px;
	margin: auto;
	position: relative;
}

#header-wrap div{
	margin:0;
	padding:0;
}

#header-wrap .logo img{
	max-width:100%;
	max-height: 52px;
	padding: 4px 0;
	margin: auto;
}

#header-wrap .header-left{
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em;
}

#header-wrap .header-center{
	text-align: center;
	margin: auto;
}

#header-wrap .header-right{
	position: absolute;
	padding: 1em;
	top: 0;
	right: 0;
}

#btn-signup-label::after{
	content: 'Sign Up' !important;
}

#btn-side-menu-label::after{
	content: 'Sections' !important;
	background-image:url('../uploads/menu-icon.png');
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
	padding-left:24px;
}

#btn-search-label::after{
	content: 'Search';
	background-image:url('../uploads/search-icon.png');
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
	padding-left:24px;
}

#header-strip #btn-dashboard{
	display: block;
	background-image:url('../uploads/user-icon.png') !important;
	background-position: left !important;
	background-size: 18px 18px !important;
	background-repeat: no-repeat !important;
	padding-left: 24px !important;
}

.btn-search-label-active::after{
	content: 'Close' !important;
	background-image:url('../uploads/close-icon.png') !important;
}

.side-nav{
  font-size:0.75em;
  height: 100%;
  width:250px;
  position:fixed;
  z-index: 9999;
  top:0;
  left:-9999px;
  background-color:#111;
  opacity:1.0;
  overflow-x:hidden;
  overflow-y:scroll;
  padding-top:36px;
  transition: 0.3s;
  box-sizing: border-box;
  border-color: transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
/* make scrollbar transparent */
.side-nav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

.side-nav::-webkit-scrollbar
{
	width: 0px;
	background-color: transparent;
	display:none;
}

.side-nav::-webkit-scrollbar-thumb
{
	background-color: transparent;
	border: 0px solid transparent;
}


.side-nav a, .side-nav label{
  text-decoration:none;
  color:#fff;
  display:block;
  transition: 0.3s;
  margin:0;
  float:none;
  clear:both;
}

.side-nav a:hover, .side-nav label:hover{
	text-decoration: none;
	color: #ccc;
}

.side-nav a.highlight{
	background: #006699;
}

.side-nav a.attention{
	background: #F90;
	color:#fff;
}
.side-nav a.attention:hover{
	background: #FC0;
	color: #000;
}

.side-nav > ul > li{
	font-weight: bold;
}

.side-nav > ul > li label:hover{
	color: #999;
}

.side-nav > ul > li > ul > li{
	font-weight: normal;
}

.side-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.side-nav li{
  text-transform: uppercase;
  list-style:none;
}

.side-nav .btn-close{
  position: absolute;
  top: -8px;
  right: 0;
  font-size: 24px;
  color: #777;
  margin-left: 50px;
}

#slide-menu input[type=checkbox] {
  display: none;
  -webkit-appearance: none;
}

#slide-menu label::after{
  content: '  +';
  float:right;
}

#slide-menu ul li input:checked + .sub-nav-list {
    max-height: 1200px;
}

#slide-menu a, #slide-menu label{
	padding: 18px 16px;
}

.sub-nav-list{
  background-color:#333;
  margin:0;
  padding:0;
  color:#999;
  overflow-y: hidden;
  max-height:0px;
  transition: 0.2s;
}

.sub-nav-list ul{
  background-color:#444;
  color:#999;
  list-style: none;
}

#search-strip{
	margin:1em;
	transition: 0.3s;
	position: relative;
	max-height: 0px;
	text-align: center;
	overflow: hidden;
}

#search-strip form{
	display: block;
	margin: 0.25em;
}

#search-strip input{
	margin:0.25em;
}

#search-strip input[type=text]{
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	font-size: 14px;
	color: #333;
	background-color: #fafafa;
}

#search-strip p{
	font-size:0.6em;
	color:#ccc;
	line-height: 1em;
	padding-bottom:12px;
}

#slide-socials{
	color:#777;
	padding:1em;
}

#slide-socials a{
margin:0;
padding:0;
display: inline-block;
}

#slide-socials img{
width: 32px;
border-radius: 50%;
}


@media (max-width:640px){

	#btn-side-menu-label::after{
		content: '' !important;
		padding-left:12px;
	}
	#btn-search-label::after{
		content: '' !important;
	}

	.btn-search-label-active::after{
		content: '' !important;
	}

	.header-right{
		display: none;
	}

	#header-wrap .logo img{
		max-height: 48px;
		padding: 6px 0 6px 64px;
		margin: auto;
	}

} /* End Media Query */


@media (max-width:280px){

	#header-wrap .logo img{
		max-height: 36px;
		padding: 10px 0 10px 74px;
		margin: auto;
	}

	#slide-socials img{
		width: 48px;
	}

} /* End Media Query */
